:root {
    --color-text: #141414;
    --color-yellow: #ffc60d;
    --color-white: #fff;
}

.call-container {
    position: fixed;
    z-index: 1000;
    bottom: 70px;
    left: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-toggle {
    display: block;
    padding: 10px;
    width: 70px;
    height: 70px;
    background-color: var(--color-text);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
    box-shadow: 0 4px 15px 0 var(--color-yellow);
    animation: pulse 1s infinite;
}

.call-text {
    margin-left: 10px;
    font-size: 19px;
	font-weight: lighter;
    font-weight: bold;
    color: var(--color-yellow);
    opacity: 0;
    transition: opacity 0.3s;
	background-color: var(--color-text);
	box-shadow: 0 4px 15px 0 var(--color-yellow);
	padding: 20px;
}

.call-container:hover .call-text {
    opacity: 1;
}

@keyframes pulse {
    0% {
        transform: scale(0.8);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(0.8);
    }
}

@media (max-width: 460px) {
    .form-toggle {
        width: 50px;
        height: 50px;
        padding: 10px;
    }
}
